{{define "main"}}

{{$course_name := index (.Params.courses) 0}}
{{$post_courses := .Params.courses }}
<h2>Test 3</h2>
{{range $taxonomy_key, $taxonomy := $.Site.Taxonomies.courses}}
  {{if in $post_courses $taxonomy_key}}
    <section id="menu">
      {{ range $taxonomy.Pages.GroupByParam "group_name" }}
        <h3>{{ .Key }}</h3>
        <ul>
            {{ range .Pages.ByWeight }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
            </li>
            {{ end }}
        </ul>

      {{ end }}
    </section>

  {{end}}
{{end}}
<h2>All post end</h2>

<hr>



<div id="single_page_content">
  <h1 class="post_title">
    <a href="{{.URL}}">{{.Title}}</a>
  </h1>
  <hr/>


  {{with .TableOfContents }}
  <div class="toc">
    <h2>
      Table of Contents
      <span id="toc_toggle_span">[hide]</span>
    </h2>
    <div id='toc_content'>
      {{ . }}
    </div>
    <!-- /#top-content -->
  </div>
  {{end}}

  <div class='article'>
    {{.Content}}
  </div>
  <!-- /.article -->
  {{if .Params.courses }}
    <div class='tags py-3'>
      courses: {{ range .Params.courses }}
        <a href="{{$.Site.BaseURL}}tags/{{ . | urlize }}">
          {{ . }}
        </a>
      {{ end }}

    </div>
  {{end}}
  <!-- /.tags -->

  <div class="text-center py-3">
    {{ if .PrevInSection }}
      <a class="btn btn-info" href="{{.PrevInSection.Permalink}}">Previous Post</a>
    {{ end }}
    {{ if .NextInSection }}
      <a class="btn btn-info" href="{{.NextInSection.Permalink}}">Next Post</a>
    {{ end }}
  </div>

</div>
{{end }}