<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

   <div>
  <h2 class="mb-4">All posts under <span class='mark'>{{.Title}} </span> </h2>
  
  <!-- {{ $paginator := .Paginate (where .Data.Pages "Type" "course") }} -->
    {{ range .Pages }}
    <div class="card my-2">
      <div class="card-body">

        <h3 class="post_title">
          <a href="{{.URL}}">{{.Title}}</a>
        </h3>

      </div>
    </div>
  {{ end }}
  </div> 
</body>
</html>